# ==============================
# BASES DE DADOS
# ==============================
e-sus.csv
Dados Brutos.xlsx

# ==============================
# SENHAS
# ==============================
.streamlit/secrets.toml

# ==============================
# AMBIENTE PYTHON
# ==============================
.venv/
venv/

# ==============================
# CACHE PYTHON
# ==============================
__pycache__/
*.pyc

# ==============================
# VARIÁVEIS DE AMBIENTE
# ==============================
.env

# ==============================
# SISTEMA
# ==============================
.DS_Store
Thumbs.db

#arquivo de teste

*.ipynb